<div class="container-fluid" style="margin-left: 45px;">
  <h2>Fixed Deposits</h2>
  <br>
  <br>
</div>

<div class="container">
  <div class="row">
    
    <div class="col-sm-2">
      <h3>Sort By</h3>
    </div>
    <br>

    <div class="col-sm-2">
       <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" style="background-color: #27AE60; color: white;">Bank Name<span class="caret"></span></button>
          <ul class="dropdown-menu" style="background-color: #27AE60;">
            <li><a href="/fds/citybank">City Bank</a></li>
            <li><a href="/fds/standardchartered">Standard Chartered</a></li>
            <li><a href="/fds/bracbank">Brac Bank</a></li>
            <li><a href="/fds/abbank">AB Bank</a></li>
            <li><a href="/fds/dbbl">Dutch Bangla Bank</a></li>
            <li><a href="/fds/onebank">One Bank</a></li>
            <li><a href="/fds/primebank">Prime Bank</a></li>
            <li><a href="/fds/easternbank">Eastern Bank</a></li>
            <li><a href="/fds/southeastbank">South East Bank</a></li>
            <li><a href="/fds/nationalbank">National Bank</a></li>
          </ul>
        </div> 
    </div>
  </div>
</div>

<br>
<br>

{{#each items}}

<div class="container-fluid" style="margin-bottom:15px; margin-top:15px ;margin-left: 45px; margin-right: 45px" >
  
  <div class="row equal">
    
    <div class="col-xs-5 col-sm-2" style="background-color:#E6E6E6;">
      <h3><b>{{this.bankName}}</b></h3>
    <hr>
    <p><img src="/images/bank.jpg" width="250px"></p>
    <h4>Short term: <i>{{this.bankRatingShort}}</i>
    <br>Long term: <i>{{this.bankRatingLong}}</i>
    </h4>    
  </div>
    
    <div class="col-xs-5 col-sm-1" style="background-color:#D8D8D8;">
      <h4><b>Amount</b></h4>
    <hr>
    <h4>{{this.amount}}</h4>
  </div>

  <div class="col-xs-5 col-sm-1" style="background-color:silver;">
      <h4><b>1 Month</b></h4>
    <hr>
    <h4>{{this.1month}}</h4>
    
  </div>

  <div class="col-xs-5 col-sm-1" style="background-color:#D8D8D8;">
      <h4><b>3 Months</b></h4>
    <hr>
    <h4>{{this.3months}}</h4>
    
  </div>

  
  <div class="col-xs-5 col-sm-1" style="background-color:silver;">
      <h4><b>6 Months</b></h4>
    <hr>
    <h4>{{this.6months}}</h4>
    
  </div>

  <div class="col-xs-5 col-sm-1" style="background-color:#D8D8D8;">
      <h4><b>9 Months</b></h4>
    <hr>
    <h4>{{this.9months}}</h4>
    
  </div>

  <div class="col-xs-5 col-sm-1" style="background-color:silver;">
      <h4><b>1 Year</b></h4>
    <hr>
    <h4>{{this.1year}}</h4>
    
  </div>

  <div class="col-xs-5 col-sm-1" style="background-color:#D8D8D8;">
      <h4><b>2 Year</b></h4>
    <hr>
    <h4>{{this.2years}}</h4>
    
  </div>

  <div class="col-xs-5 col-sm-1" style="background-color:silver;">
      <h4><b>3 Year</b></h4>
    <hr>
    <h4>{{this.3years}}</h4>
    
  </div>

    
  
    <div class="col-xs-5 col-sm-2" style="background-color:#D8D8D8;">
      <h4><b>Rating</b></h4>
      <hr>
      <br>
      <button type="button" class="btn btn-default" style="margin-left: 10px;">Rate This</button><br>
      <br>
      {{#if user}}
      <button type="button" class="btn btn-action" onclick="location.href='/users/confirmation' ">Get This FDS</button><br>
      {{else}}
      <button type="button" class="btn btn-action" onclick="location.href='/users/login' ">Get This FDS</button><br>
      {{/if}}
      <br>
      <br>
    </div>
  </div>
</div>

 {{/each}}
