<div class="container">
  <h2>Loans</h2>
  <br>
</div>

{{#each items}}

<div class="container" style="margin-bottom:15px; margin-top:15px">
  
  <div class="row equal">
    <div class="col-xs-6 col-sm-3" style="background-color:#E6E6E6;">
      <h3>{{this.bankName}}</h3>
    <hr>
    <p><img src="/images/banklogo.jpg" width="250px"></p>
    <p>Short term: {{this.bankRatingShort}}
    <br>Long term: {{this.bankRatingLong}}
    </p>    
  </div>
    <div class="col-xs-6 col-sm-3" style="background-color:#D8D8D8;">
      <h3>{{this.loanType}}</h3>
    <hr>
    <p><img src="/images/cardlogo.jpg" width="220px"><br>
    </p>
    <h3>Interest Rate</h3>
    <h4>{{this.interestRate}}</h4> <br>
  </div>
    <div class="clearfix visible-xs"></div>
     <div class="col-xs-6 col-sm-3" style="background-color:#A4A4A4;">
      <h3>Charges</h3>
      <hr>
      <p class="" >
        Floating Rate: {{this.floatingRate}}<br>
        Minimum Loan Amount: {{this.minLoanAmount}}<br>
        Maximum Loan Amount: {{this.maxLoanAmount}}<br>
        Maximum Tenure: {{this.maxLoanTenure}}<br>
        Minimum Tenure: {{this.minLoanTenure}}<br>
        Minimum Income: {{this.minIncome}}<br>
        Processing Fee: {{this.processingFee}}<br>
        Early Settlement Fee: {{this.earlySettlementFees}}      
      </p>
    
 
  </div>
 
  
    <div class="col-xs-6 col-sm-3" style="background-color:#6E6E6E;">
      <h3>Rating</h3>
      <hr>
      <br>
      <button type="button" class="btn btn-default">Rate This</button><br>
      <br>
      <button type="button" class="btn btn-action">Get This Loan</button><br>
      <br>
      <br>
    </div>
  </div>
</div>

 {{/each}}




<!-- COMMENTING OUT

<div class="container">
  <h2>Bank Loans List</h2>
  <p></p>            
  <table id="loantable" class="table table-striped">
    <thead>
      <tr>
        <th>Bank Name</th>
        <th>Loan Type</th>
        <th>Interest Rate</th>
        <th>Minimum Amount (BDT)</th>
        <th>Minimum Amount (BDT)</th>
        <th>Eligible Age</th>
        <th>Tenure</th>
        <th>Minimum Income</th>
        <th>Processing Fee</th>
        <th>Floating Rate</th>
      </tr>
    </thead>
    <tbody>
      {{#each items}}
      <tr class="item">
        <td>{{ this.bankName}}</td>
        <td>{{ this.loanType}}</td>
        <td>{{ this.interestRate}}</td>
        <td>{{ this.minLoanAmount}}</td>
        <td>{{ this.maxLoanAmount}}</td>
        <td>{{ this.eligibleAgeAll}}</td>
        <td>{{ this.loanTenureAll}}</td>
        <td>{{ this.minIncome}}</td>
        <td>{{ this.processingFee}}</td>
        <td>{{ this.floatingRate}}</td>
    </tr>
    {{/each}}
      
    </tbody>

    
  </table>

</div>

-->